AIoTI-Node-red-DataFlow.json
[{"id":"75baaf45.9a57f","type":"tab","label":"Recon_flow","disabled":false,"info":""},{"id":"74b268bb.f74f48","type":"tab","label":"People_flow","disabled":false,"info":""},{"id":"bd936c73.48e2b","type":"tab","label":"Printer_flow","disabled":false,"info":""},{"id":"cf06400.12dcbc","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"aioti","tz":"","charset":"UTF8"},{"id":"cabfb7e2.d09178","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fdcc6be5.7653b8","type":"mysql","z":"75baaf45.9a57f","mydb":"cf06400.12dcbc","name":"","x":1270,"y":240,"wires":[["e6442d41.fd21f"]]},{"id":"6657f321.f7616c","type":"mqtt in","z":"75baaf45.9a57f","name":"","topic":"RAS/AIoTI/recon_face/id","qos":"0","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":250,"y":240,"wires":[["3b7b85d1.29c95a","f64f9875.f5e958"]]},{"id":"857daa25.333fb8","type":"mqtt in","z":"75baaf45.9a57f","name":"","topic":"RAS/AIoTI/recon_face/access","qos":"0","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":260,"y":300,"wires":[["e142b822.5fc3a8"]]},{"id":"2c6cb39f.60c99c","type":"mqtt in","z":"75baaf45.9a57f","name":"","topic":"RAS/AIoTI/recon_face/status","qos":"0","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":260,"y":480,"wires":[["ae7551f1.2b398","1715548b.eb9c6b"]]},{"id":"e142b822.5fc3a8","type":"change","z":"75baaf45.9a57f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"access","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["bb9e4267.c7edf"]]},{"id":"3b7b85d1.29c95a","type":"change","z":"75baaf45.9a57f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"id","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["bb9e4267.c7edf"]]},{"id":"ae7551f1.2b398","type":"change","z":"75baaf45.9a57f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[["af6900e7.96d0f"]]},{"id":"bb9e4267.c7edf","type":"join","z":"75baaf45.9a57f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":240,"wires":[["95477343.b4d0e"]]},{"id":"af6900e7.96d0f","type":"join","z":"75baaf45.9a57f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":480,"wires":[["b2d0775a.6dfe68"]]},{"id":"f64f9875.f5e958","type":"function","z":"75baaf45.9a57f","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":200,"wires":[["bb9e4267.c7edf"]]},{"id":"95477343.b4d0e","type":"template","z":"75baaf45.9a57f","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO recon(nome,acesso,hora) VALUES (\"{{payload.id}}\",\"{{payload.access}}\",\"{{payload.time}}\");","output":"str","x":940,"y":240,"wires":[["dc664a91.ebc748"]]},{"id":"b2d0775a.6dfe68","type":"template","z":"75baaf45.9a57f","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO recon_log(info,hora) VALUES (\"{{payload.status}}\",\"{{payload.time}}\");","output":"str","x":940,"y":480,"wires":[["4695e919.6cfe48"]]},{"id":"1715548b.eb9c6b","type":"function","z":"75baaf45.9a57f","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":520,"wires":[["af6900e7.96d0f"]]},{"id":"e6442d41.fd21f","type":"debug","z":"75baaf45.9a57f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":240,"wires":[]},{"id":"7aca7ec2.fce4e","type":"mysql","z":"75baaf45.9a57f","mydb":"cf06400.12dcbc","name":"","x":1270,"y":480,"wires":[["1fb2c8ba.b652a7"]]},{"id":"1fb2c8ba.b652a7","type":"debug","z":"75baaf45.9a57f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":480,"wires":[]},{"id":"15438c42.b093e4","type":"mqtt in","z":"bd936c73.48e2b","name":"","topic":"RAS/AIoTI/3d_printer/log","qos":"2","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":110,"y":160,"wires":[["c5adf400.63ef68"]]},{"id":"3443c8c9.0ff5d8","type":"mqtt in","z":"74b268bb.f74f48","name":"","topic":"RAS/AIoTI/People_flow/num","qos":"2","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":260,"y":160,"wires":[["dbb31a06.861e18"]]},{"id":"50386117.60d0f","type":"debug","z":"74b268bb.f74f48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":160,"wires":[]},{"id":"3d31453b.64956a","type":"mqtt in","z":"74b268bb.f74f48","name":"","topic":"RAS/AIoTI/People_flow/status","qos":"2","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":260,"y":240,"wires":[["ec8861f4.e222a"]]},{"id":"bf42bcde.50b89","type":"debug","z":"74b268bb.f74f48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":240,"wires":[]},{"id":"c5adf400.63ef68","type":"change","z":"bd936c73.48e2b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["7babff03.c262a","851e82ac.7c423"]]},{"id":"dbb31a06.861e18","type":"change","z":"74b268bb.f74f48","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"num","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[["a26e1fcb.2b651"]]},{"id":"a26e1fcb.2b651","type":"trigger","z":"74b268bb.f74f48","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":160,"wires":[["efcb1a07.4bea28","c851068c.9cfce8"]]},{"id":"613c73a1.50ae3c","type":"template","z":"74b268bb.f74f48","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO people(num,time) VALUES (\"{{payload.num}}\",\"{{payload.time}}\");","output":"str","x":1060,"y":160,"wires":[["50386117.60d0f","f0bbf520.cdedf8"]]},{"id":"efcb1a07.4bea28","type":"function","z":"74b268bb.f74f48","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":120,"wires":[["c851068c.9cfce8"]]},{"id":"c851068c.9cfce8","type":"join","z":"74b268bb.f74f48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":160,"wires":[["613c73a1.50ae3c"]]},{"id":"f0bbf520.cdedf8","type":"mysql","z":"74b268bb.f74f48","mydb":"cf06400.12dcbc","name":"","x":1210,"y":120,"wires":[["634750f5.ed7ea"]]},{"id":"634750f5.ed7ea","type":"debug","z":"74b268bb.f74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"ec8861f4.e222a","type":"change","z":"74b268bb.f74f48","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["8896d1e7.81624","998222dd.6dbb8"]]},{"id":"8896d1e7.81624","type":"function","z":"74b268bb.f74f48","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":280,"wires":[["998222dd.6dbb8"]]},{"id":"998222dd.6dbb8","type":"join","z":"74b268bb.f74f48","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":240,"wires":[["31e04588.7994aa"]]},{"id":"31e04588.7994aa","type":"template","z":"74b268bb.f74f48","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO people_log(status,time) VALUES (\"{{payload.status}}\",\"{{payload.time}}\");","output":"str","x":1060,"y":240,"wires":[["bf42bcde.50b89","80f83ad4.6d6708"]]},{"id":"7bf73d58.6237e4","type":"debug","z":"74b268bb.f74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":280,"wires":[]},{"id":"80f83ad4.6d6708","type":"mysql","z":"74b268bb.f74f48","mydb":"cf06400.12dcbc","name":"","x":1210,"y":280,"wires":[["7bf73d58.6237e4"]]},{"id":"7babff03.c262a","type":"function","z":"bd936c73.48e2b","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["851e82ac.7c423"]]},{"id":"7cea14cd.e0da8c","type":"function","z":"bd936c73.48e2b","name":"","func":"msg.payload = new Date()\nmsg.topic = 'time'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["3d426f8b.a2671"]]},{"id":"68d4cf55.dc89d","type":"mysql","z":"bd936c73.48e2b","mydb":"cf06400.12dcbc","name":"","x":1130,"y":160,"wires":[["8a09f381.5a13d"]]},{"id":"8a09f381.5a13d","type":"debug","z":"bd936c73.48e2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":160,"wires":[]},{"id":"b1772c9e.36f29","type":"mqtt in","z":"bd936c73.48e2b","name":"","topic":"RAS/AIoTI/3d_printer/status","qos":"2","datatype":"auto","broker":"cabfb7e2.d09178","nl":false,"rap":true,"rh":0,"x":120,"y":300,"wires":[["92cb7643.a458d8"]]},{"id":"92cb7643.a458d8","type":"change","z":"bd936c73.48e2b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["7cea14cd.e0da8c","3d426f8b.a2671"]]},{"id":"851e82ac.7c423","type":"join","z":"bd936c73.48e2b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":160,"wires":[["e4543b55.f773d8"]]},{"id":"3d426f8b.a2671","type":"join","z":"bd936c73.48e2b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":300,"wires":[["84e27662.ce5e68"]]},{"id":"e4543b55.f773d8","type":"template","z":"bd936c73.48e2b","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO printer_log(status,time) VALUES (\"{{payload.log}}\",\"{{payload.time}}\");","output":"str","x":800,"y":160,"wires":[["a849872a.30d258"]]},{"id":"84e27662.ce5e68","type":"template","z":"bd936c73.48e2b","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO printer(status,time) VALUES (\"{{payload.status}}\",\"{{payload.time}}\");","output":"str","x":800,"y":300,"wires":[["ff7819b5.43c9b8"]]},{"id":"c22059ac.da2278","type":"mysql","z":"bd936c73.48e2b","mydb":"cf06400.12dcbc","name":"","x":1130,"y":300,"wires":[["fda3b103.002d3"]]},{"id":"fda3b103.002d3","type":"debug","z":"bd936c73.48e2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":300,"wires":[]},{"id":"a9f9e891.c2cc18","type":"debug","z":"bd936c73.48e2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"47987ad5.be7dd4","type":"debug","z":"bd936c73.48e2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":360,"wires":[]},{"id":"dc664a91.ebc748","type":"trigger","z":"75baaf45.9a57f","name":"","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1120,"y":240,"wires":[["fdcc6be5.7653b8"]]},{"id":"4695e919.6cfe48","type":"trigger","z":"75baaf45.9a57f","name":"","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1120,"y":480,"wires":[["7aca7ec2.fce4e"]]},{"id":"ff7819b5.43c9b8","type":"trigger","z":"bd936c73.48e2b","name":"","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":300,"wires":[["c22059ac.da2278","47987ad5.be7dd4"]]},{"id":"a849872a.30d258","type":"trigger","z":"bd936c73.48e2b","name":"","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":160,"wires":[["68d4cf55.dc89d","a9f9e891.c2cc18"]]}]